* text=auto !eol
/LICENSE.TXT -text
ide/eclipse/cdm-server[!!-~]-[!!-~]help.launch -text
ide/eclipse/cdm-server[!!-~]-[!!-~]start.launch -text
ide/eclipse/run[!!-~]cdm-server.jar[!!-~]in[!!-~]debugmode.launch -text
ide/eclipse/run[!!-~]cdm-server.jar.launch -text
/pom.xml -text
src/jenkins-ci/update-stable-folder.sh -text
src/main/assembly/assembly.xml -text
src/main/installer/lib/ant-deb-task-0.0.1.jar -text
src/main/installer/linux/Makefile -text
src/main/installer/linux/build-deb.xml -text
src/main/installer/linux/cdmserver -text
src/main/installer/linux/copyright -text
src/main/installer/linux/postinst -text
src/main/installer/linux/postrm -text
src/main/installer/linux/prerm -text
src/main/installer/templates/.cdmLibrary/cdm-server-realm.properties -text
src/main/installer/templates/.cdmLibrary/datasources.xml -text
src/main/installer/templates/copyright.txt -text
src/main/installer/win32/program-folder/CDMServer.exe -text
src/main/installer/win32/program-folder/etc/CDMServer.conf -text
src/main/installer/win32/program-folder/install-service.bat -text
src/main/installer/win32/program-folder/lib/wrapper.dll -text
src/main/installer/win32/program-folder/remove-service.bat -text
src/main/installer/win32/program-folder/start-service.bat -text
src/main/installer/win32/program-folder/stop-service.bat -text
src/main/installer/win32/setup.nsi -text
src/main/java/eu/etaxonomy/cdm/server/AssumedMemoryRequirements.java -text
src/main/java/eu/etaxonomy/cdm/server/Bootloader.java -text
src/main/java/eu/etaxonomy/cdm/server/CommandOptions.java -text
src/main/java/eu/etaxonomy/cdm/server/JvmManager.java -text
src/main/java/eu/etaxonomy/cdm/server/OsChecker.java -text
src/main/java/eu/etaxonomy/cdm/server/instance/CdmInstance.java -text
src/main/java/eu/etaxonomy/cdm/server/instance/Configuration.java -text
src/main/java/eu/etaxonomy/cdm/server/instance/DataSourcePropertyParser.java -text
src/main/java/eu/etaxonomy/cdm/server/instance/InstanceManager.java -text
src/main/java/eu/etaxonomy/cdm/server/instance/Status.java -text
src/main/java/eu/etaxonomy/cdm/server/jsvc/ServiceWrapper.java -text
src/main/java/eu/etaxonomy/cdm/server/win32service/CDMServerWrapperListener.java -text
src/main/java/eu/etaxonomy/cdm/server/win32service/Win32Service.java -text
src/main/jenkins-ci/copy-cdmserver-and-restart.sh -text
src/main/resources/c3p0.properties -text
src/main/resources/log4j.properties -text
src/main/resources/version.properties -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/css/server.css -text
src/main/webapp/css/style.css -text
src/main/webapp/favicon.ico -text
src/main/webapp/index.html -text
src/main/webapp/index.jsp -text
src/main/webapp/js/instance-status.js -text
src/main/webapp/js/jquery.js -text
src/main/webapp/js/jquery.min.js -text
src/main/webapp/js/memory-status.js -text
src/main/webapp/js/oai-pmh-status.js -text
src/main/webapp/manage/BootloaderService.jsp -text
src/main/webapp/manage/MemoryService.jsp -text
src/main/webapp/manage/index.jsp -text
src/main/webapp/robots.txt -text
src/site/apt/getting-started.apt -text
src/site/apt/index.apt -text
src/site/fml/faq.fml -text
src/site/fml/troubleshooting.fml -text
src/site/resources/images/cdmlib_overview_webservices.png -text
src/site/site.xml -text
