* text=auto !eol
/LICENSE.TXT -text
ide/eclipse/Bootloader[!!-~]-[!!-~]Help.launch -text
ide/eclipse/Bootloader.launch -text
ide/eclipse/run[!!-~]cdm-server.jar[!!-~]in[!!-~]debugmode.launch -text
ide/eclipse/run[!!-~]cdm-server.jar.launch -text
/pom.xml -text
src/main/assembly/assembly.xml -text
src/main/installer/lib/ant-deb-task-0.0.1.jar -text
src/main/installer/linux/Makefile -text
src/main/installer/linux/build-deb.xml -text
src/main/installer/linux/cdmserver -text
src/main/installer/linux/copyright -text
src/main/installer/linux/postinst -text
src/main/installer/linux/postrm -text
src/main/installer/templates/.cdmLibrary/datasources.xml -text
src/main/installer/templates/copyright.txt -text
src/main/installer/win32/Launch4JavaCDMSERVER.xml -text
src/main/installer/win32/cdmserver.nsi -text
src/main/installer/win32/cdmserver/bin/cdmserver.bat -text
src/main/installer/win32/service/CDMServer.conf -text
src/main/installer/win32/service/CDMServer.exe -text
src/main/installer/win32/service/install-serice.bat -text
src/main/installer/win32/service/remove-service.bat -text
src/main/installer/win32/service/start-service.bat -text
src/main/installer/win32/service/stop-service.bat -text
src/main/installer/win32/service/wrapper.dll -text
src/main/java/eu/etaxonomy/cdm/server/Bootloader.java -text
src/main/java/eu/etaxonomy/cdm/server/CdmInstanceProperties.java -text
src/main/java/eu/etaxonomy/cdm/server/CommandOptions.java -text
src/main/java/eu/etaxonomy/cdm/server/DataSourcePropertyParser.java -text
src/main/java/eu/etaxonomy/cdm/server/JvmManager.java -text
src/main/java/eu/etaxonomy/cdm/server/win32service/CDMServerWrapperListener.java -text
src/main/java/eu/etaxonomy/cdm/server/win32service/Win32Service.java -text
src/main/resources/c3p0.properties -text
src/main/resources/log4j.properties -text
src/main/webapp/WEB-INF/web.xml -text
src/main/webapp/css/server.css -text
src/main/webapp/css/style.css -text
src/main/webapp/favicon.ico -text
src/main/webapp/index.html -text
src/main/webapp/index.jsp -text
src/main/webapp/js/jquery.js -text
src/main/webapp/js/jquery.min.js -text
src/main/webapp/js/oai-pmh-status.js -text
src/main/webapp/robots.txt -text
